<h1>The School's Classes</h1>
<% @school_classes.each do |school_class| %>
    <p><%= link_to school_class.title + ", Room " + school_class.room_number, school_class_path(school_class.id) %></p>
<% end %>